html {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 100%;
}

span.link {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.floatleft, .floatright {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

.bg-image {
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 105%;
	min-height: 105%;
	transform: translate(-2.5%, -2.5%);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	z-index: -1;
}

app-bulb-converter {
	display: block;
	text-align: center;
}

h1 {
	padding-bottom: 10px;
}

.border {
	background-color: #f96302;
	border: 1px solid black;
	color: white;
	font-size: 12px !important;
	text-decoration: underline;
	margin-left: 20px;
	padding: 20px;
}

.text-align {
	text-align: right;
	margin-right: 15px;
	color: #f96302 !important;
	font-size: 11px !important;
	font-weight: normal !important;
}

.convert-txt, .to {
	display: inline-block;
	text-align: left;
	font-size: 15px !important;
	padding: 10px 10px 10px 0;
}

input, select {
	font-size: 1.1rem;
}