
<div class="error" style="color: red; font-weight: bold;" *ngIf="error">Error: {{ this.error }}</div>

<br>

<div class="converter">

    <div class="border"> 
    <h1>
       {{ title }}
       <br>
    </h1>
    
    <div class="margin-align">
    <div><span class="convert-txt" >Type in amount and select currency</span></div>
  
    <input id="from-amount" autofocus type="number" [(ngModel)]="fromAmount"   placeholder=""  (ngModelChange)='calculate(false)'>

    <select id="fromCurrency" [(ngModel)]="fromCurrency"  (ngModelChange)="convert(false, false)"> 
        <option *ngFor="let rate of rates" [value]="rate.id">{{ rate.id }}</option>
    </select>

    <br><br>

    <div><span class="to">Converted amount</span></div>

    <input id="to-amount" type="number" [(ngModel)]="toAmount" placeholder=""  (ngModelChange)="calculate(true)">

    <select id="toCurrency" [(ngModel)]="toCurrency" (ngModelChange)="calculate(true)">
        <option *ngFor="let rate of rates" [value]="rate.id">{{ rate.id }}</option>
    </select>
 
    <dialog-content></dialog-content>
</div>
</div>
</div>



